name: Build and Push app
on:
  push:
    branches:
      - main
      - develop
    paths:
      - "app/**"
      - ".github/workflows/test-build-push-app.yaml"
      - "!**.md"
  pull_request:
    types: ["opened", "reopened", "synchronize", "ready_for_review"]
    branches:
      - develop
      - main
    paths:
      - "app/**"
      - ".github/workflows/test-build-push-app.yaml"
      - "!**.md"      
jobs:
  frontend-tests:
    name: Frontend Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        timeout-minutes: 2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.9.0'
        timeout-minutes: 2

      - name: Install Frontend Dependencies
        run: npm install
        working-directory: ./app
        timeout-minutes: 5

      - name: Run Frontend Tests
        run: npm run test
        working-directory: ./app
        timeout-minutes: 5

  build:
    needs: frontend-tests
    name: Build and Push Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        timeout-minutes: 2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        timeout-minutes: 5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: improwised/${{ vars.DOCKER_HUB_REPOSITORY_UI }}
          tags: |
            type=raw,value=${{ github.head_ref || github.ref_name }}-{{sha}}-{{date 'X'}}
        timeout-minutes: 1

      - name: Login to Docker Hub
        if: ${{ github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'develop') }}
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        timeout-minutes: 2

      - name: Set PR Tags
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "TAGS=test-${{ github.sha }}" >> $GITHUB_ENV
        timeout-minutes: 1
        
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: ${{ github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'develop') }}
          tags: ${{ env.TAGS || steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
        timeout-minutes: 10

      # - name: status of workflow
      #   uses: rtCamp/action-slack-notify@v2
      #   if: always()
      #   env:
      #     SLACK_WEBHOOK: ${{ secrets.WEBHOOK_URL }}
      #     SLACK_USERNAME: workflow-status
      #     SLACK_ICON: https://avatars.githubusercontent.com/u/25347574
      #     SLACK_COLOR: ${{ job.status }}
      #     SLACK_FOOTER: ${{ github.repository }}
      #     SLACK_MESSAGE: "Build workflow run *${{ job.status }}*"
      #   timeout-minutes: 5
